# Exclude original HEIC files (converted JPGs are used instead)
*.heic

# Exclude large binary files
*.dmg
*.pdf
*.zip
*.rar

# OS files
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
